body {
    margin: 0;
    text-align: center;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.keyboard {
    margin: 20px 0;
    display: inline-block;
    text-align: center;
}

.console {
    background: #000;
    width: 400px;
    padding: 20px;
    height: 100px;
    margin: 0 auto;
}

.console__output {
    display: block;
    border: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    background: #000;
    color: #18F018;
    font-family: sans-serif;
    resize: none;
    font-size: 20px;
    outline: none;
}

.keyboard__row {
}

.key {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin: 2px;
    display: inline-block;
    line-height: 40px;
}

.key_size_standard {
}

.key_size_medium {
    width: 80px;
}

.key_size_large {
    width: 160px;
}

.key_hightlighted {
    background: #ff0000;
    cursor: default;
}

.column1 {
    width: 480px;
    float: left;
}

.row {
    overflow: hidden;
}

.filters {
    text-align: left;
}

.filters label {
    padding-left: 10px;
}

.layouts {
    margin-bottom: 20px;
}

.layouts label {
    display: block;
}

.keyboard-view {
    overflow: hidden;
}

.keyboard-view label {
    display: block;
}