body {
    margin: 0;
    text-align: center;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2ECC71;
    color: #fff;
}
.keyboard-section {
    padding-top: 30px;
}

.keyboard {
    height: 200px;
    display: none;
}

.keyboard.active {
    display: block;
}

.console {
    background: #9B59B6;
    padding: 20px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}

.console h2 {
    margin: 0 0 10px;
    color: #fff;
}

.console__output {
    display: block;
    border: 0;
    text-align: left;
    background: #9B59B6;
    color: #fff;
    font-family: sans-serif;
    resize: none;
    font-size: 20px;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: 217px;
}

.keyboard__row {
}

.key {
    height: 30px;
    border-radius: 5px;
    background: #3498db;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
    display: inline-block;
    line-height: 30px;
}

.key_size_standard {
    width: 30px;
}

.key_size_medium {
    width: 80px;
}

.key_size_large {
    width: 160px;
}

.key_highlighted {
    background: #154763;
    cursor: default;
}

.filters {
    text-align: left;
}

.layouts {
    margin-bottom: 20px;
}

.layouts label {
    display: block;
}

.keyboard-view {
    overflow: hidden;
}

.keyboard-view label {
    display: block;
}
.btn-success {
    background: #03A678;
}

.statistics {
    background: #e74c3c;
    color: #fff;
    padding: 20px;
    height: 300px;
    margin: 0 0 20px;
    border-radius: 5px;
}

.statistics h2 {
    margin: 0 0 10px;
}

.statistics ul {
    text-align: left;
    list-style: none;
}